@charset "utf-8";

@import "_base/variables";
@import "_base/mixins";

/* -----------------------------------------------------
 * Base
 * -------------------------------------------------- */
body {
	display: flex;
	flex-direction: column;
	&.is-menu-open,
	&.is-modal-open {
		overflow: hidden;
	}
	@include media-pc {
		min-width: 1200px;
		&.is-menu-open {
			overflow: visible;
		}
	}
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: bold;
	&:first-child {
		margin-top: 0;
	}
}

h1 {
	margin: 20px  0 0;
	font-size: 2.4rem;
}

h2 {
	margin: 20px  0 0;
	font-size: 2.0rem;
}

h3 {
	margin: 20px  0 0;
	font-size: 1.8rem;
}

h4 {
	margin: 20px  0 0;
	font-size: 1.6rem;
}

h5 {
	margin: 20px  0 0;
	font-size: 1.4rem;
}

p {
	margin: 10px 0;
	font-size: 1.4rem;
	line-height: 1.6;
	&:first-child {
		margin-top: 0;
	}
}
