<ul>
<li><a href="#" data-smooth-scroll></a></li>
<li><a href="#" data-smooth-scroll></a></li>
<li><a href="#" data-smooth-scroll></a></li>
<li><a href="#" data-smooth-scroll></a></li>
<li><a href="#" data-smooth-scroll></a></li>
</ul>
